*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);

  --font-primary: 'Kumbh Sans', sans-serif;
}

html {
  height: -webkit-fill-available;
  font-size: 62.5%;
  background-color: var(--dark-cyan);
  font-family: var(--font-primary);
}
